.absolute-home {
    background-image: image("crit.png")
}

/* .dupe-vids {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
} */

.index-items {
  display: flex;  
  flex-direction: row;
  border-bottom: 7px;
}

.index-all {
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;
  /* border-bottom: 7px; */
}

.index-vid-text {
  display: flex;  
  flex-direction: column;
  position: relative;
  margin: 0 12px;
}

.root-back {
  background-color: black;
}