.absolute-home {
    display: flex;
    flex-direction: column;
}

.sidebar-index-cluster {
    display: flex;

}

.sidebar-home {
    display: flex;
    position: absolute ;
    align-content: flex-start;
}

.navbar {
    /* display: flex; */
    align-content: flex-end;
}

.index-home {
    /* display: flex;
    flex-direction: row;
    align-content: flex-end; 
    justify-content: space-between; */
}

.dupe-vids-one {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.navbar-index-vids {
    display: flex; 
      flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

}
