.comment-submit {
    background-color: grey;
    color: rgb(3, 3, 3);
}

.comment-form {
  background-color:  rgba(40, 40, 40, .8);
  border: none;
  font-size: 15px;
  border-bottom: 1px solid grey;
  width: 300px;
  height: auto;

}