.comment-submit {
    background-color: grey;
    color: rgb(3, 3, 3);
    font-size: 12px;


  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;  
  padding: 10px;
  text-align: center;
}

.comment-form {
  background-color:  #3e3e3e;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid grey;
  width: 300px;
  height: auto;

}

.comment-block-text {
  font-size: 15px;
}