.index-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.index-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none; 
}