.video-show-main{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

.sidebar-index{
  display: flex;  
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-index > .index-all {
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}


.show {
  display: flex; 
  align-content: space-around;
}

.vid-info {
  display: flex;
  flex-direction: column;
}

.upnext {
      color: var(--yt-spec-text-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

.linebreak {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    margin-bottom: 24px;
    padding-bottom: 16px;
}