
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Open Sans', sans-serif;
  color: inherit;
}

.signup-form {
   display: flex; 
  flex-direction: column; 
  background-color: rgba(28, 28, 28, 0.8);  
  width: auto;
  height: 50px;
  /* box-sizing: border-box; */
  /* border-radius: 5px; */
  align-content: space-around;
  margin: 0 auto;
  position: relative;
  bottom: -50px;
}


.signup-input {
  display: flex; 
  flex-direction: column; 
  color: black;
  background-color:grey;  
  width: auto;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px;
  left: -200;
}

.all-signup-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-submit {
    display: flex; 
  flex-direction: column; 
  background-color:rgb(68, 103, 219);  
  border: 1px solid grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  /* left: 140px; */
  bottom: -100px;

}

.signup-parent {
  display: flex;  
  flex-direction: row;
  /* justify-content: space-evenly; */
  color: #1a73e8;
  align-content: center; 
  background-color: rgba(28, 28, 28, 0.8);  
  width: 450px;
  height: 590px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;  
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: -75px;
}

/* .login-return {
  
} */